.formWrapper {
  background-color: white;
  padding: 3.5rem;
  display: block;
  margin: 2rem auto;
  width: 20rem;
  height: 25rem;
  border: 1px solid black;
}

form > div {
  margin-bottom: 1rem;
}
input {
  height: 2rem;
  width: 97%;
}
.login {
  height: 2.5rem;
  background-color: #fd7092;
  border-radius: 10rem;
  border: none;
  font-size: 1.1rem;
}
a {
  text-decoration: none;
}
p {
  text-align: center;
}
.label {
  display: flex;
}
